@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

.load_header{
    width: 100vw;
    background-color: rgb(19, 236, 236);
    > a.title{
        text-decoration-line: none;
        display: inline-block;
        color: rgb(20, 20, 228);
        padding-left: 20px;
        transition-property: text-shadow;
        transition-duration: 0.5s;
        &:hover{
            text-shadow: 5px 5px 5px gray;
        }
    }
}

.load_footer{
    width: 100vw;
    height: auto;
    background-color: gray;
    position: relative;
    bottom: 0;
    text-align: center;
}

html{
    font-family: "Sawarabi Mincho", sans-serif;
}

body {
    margin: 0px 0px 0px 0px;
    display: grid;
}

main{
    min-height: 100vh;
    height: auto;
    margin: 0px;
    text-align: center;
}

article{
    margin: 50px 20% 50px 20%
}

.title:after{
    content: "";
    display: block;
    height: 4px;
    background: linear-gradient(to right, rgb(19, 236, 236), transparent);
}

.image{
    width: 100%;
}